# Configuration for the Meetup to Wild Apricot event converter

#####################################################
# Meetup
#####################################################

# URL name for Meetup group
export MEETUP_GROUP_URL_NAME="NOVA-Makers"

# Number of events to request from Meetup
export MEETUP_EVENTS_WANTED=25

# Earliest event start time to convert
export EARLIEST_EVENT_START_TIME="2020-11-10 00:00 -05:00"

#####################################################
# Wild Apricot
#####################################################

# Wild Apricot account number
export APRICOT_ACCOUNT_NUMBER='123456'

# Wild Apricot API key
export APRICOT_API_KEY='zvbxrpl'

# Wild Apricot web directory for photos
export APRICOT_PHOTO_DIRECTORY='/resources/Pictures/EventAnnouncements'


#####################################################
# Local Files
#####################################################

# Directory for photos from Meetup
export PHOTO_DIRECTORY='photos'

# Cache file of event conversion details (Python pickle file)
export EVENT_CACHE_FILE='data/event_cache.pickle'

# Cache file of photo conversion details (Python pickle file)
export PHOTO_CACHE_FILE='data/photo_cache.pickle'

