# Configuration for the Meetup to Wild Apricot event converter


#####################################################
# Event times
#####################################################

# Earliest event start time to convert
export EARLIEST_EVENT_START_TIME="2020-11-10 00:00 -05:00"

# Latest event start time to convert
export LATEST_EVENT_START_TIME="2020-12-31 23:59 -05:00"


#####################################################
# Event tags
#####################################################

# Tags for all Wild Apricot events
# Format as a JSON list of strings
export ALL_EVENT_TAGS='["meetup"]'

# Mapping from Nova Labs accounting codes to Wild Apricot event tags
# Format as a JSON object with codes as keys and strings (or lists of strings)
# as values
export CODES_TO_TAGS='{
	"3D": "3d-printing",
	"AC": "arts-and-crafts",
	"AV": "audio-visual",
	"BL": "blacksmithing",
	"CC": "cnc",
	"CS": "composites",
	"EL": "electronics",
	"GO": "green-orientation",
	"LC": "laser-cutting",
	"MW": "metalworking",
	"MX": "mixed-media",
	"SL": "3d-printing",
	"SO": "community",
	"TS": "the-studio",
	"WW": "woodworking"
	}'


#####################################################
# Event Registration Restrictions
#####################################################

# List of restrictions, each optionally containing:
#
#   name:    the event registration type name such as RSVP.
#            Names may be repeated. (Default: "RSVP")
#
#   pattern: a case-insensitve regex pattern to find within the event name.
#            (Default: match all event names)
#
#   price:   "free" or "paid" to match only free or paid events. (Default:
#            match both free and paid events)
#
#   levels:  a member level name such as Associate or a list of such names.
#            (Default: all member levels are selected)
#
#   guests:  "count", "contact", or "full", the guest registration policy.
#            (Default: no guests)

export EVENT_RESTRICTIONS='[
	{
		"name": "Register",
		"patternx": "go:.*orientation",
		"levels": [
			"Membership Application"
		]
	},
	{
		"name": "Members Only",
		"pattern": "members[ -]*only",
		"levels": [
			"Associate",
			"Associate (legacy-billing)",
			"Innovation Center",
			"Key",
			"Key (family)",
			"Key (family-minor-16-17)",
			"Key (legacy-billing)",
			"Volunteer Staff"
		]
	},
	{
		"price": "paid",
		"guests": "contact"
	}
]'

#####################################################
# Meetup
#####################################################

# URL name for Meetup group
export MEETUP_GROUP_URL_NAME="NOVA-Makers"

# Number of events to request from Meetup
export MEETUP_EVENTS_WANTED=100


#####################################################
# Wild Apricot
#####################################################

# Wild Apricot account number
export APRICOT_ACCOUNT_NUMBER='123456'

# Wild Apricot API key
export APRICOT_API_KEY='zvbxrpl'

# Wild Apricot web directory for photos
export APRICOT_PHOTO_DIRECTORY='/resources/Pictures/EventAnnouncements'

