# Configuration for tests

#####################################################
# Directories for storing test data
#####################################################

# Each test module may have its own directory relative to the tests directory.
# Comment either out to skip response capture tests when not defined.
export TEST_MEETUP_API_DIR=meetup_responses
export TEST_APRICOT_API_DIR=apricot_responses

# A Meetup event ID to retrieve
export MEETUP_EVENT_ID='dvftrrybcpbdc'

#####################################################
# Meetup API
#####################################################

# URL name for Meetup group
export MEETUP_GROUP_URL_NAME="NOVA-Makers"

#####################################################
# Wild Apricot API
#####################################################

# Wild Apricot token URL
export APRICOT_TOKEN_URL="https://oauth.wildapricot.org/auth/token"

# Wild Apricot API key
export APRICOT_API_KEY='zvbxrpl'

# Wild Apricot account ID
export APRICOT_ACCOUNT_ID='12345'

# A Wild Apricot event ID to retrieve
export APRICOT_EVENT_ID='6789'

# A Wild Apricot event ID to clone
export APRICOT_CLONE_EVENT_ID='4075506'

#####################################################
# Wild Apricot Photo Uploading
#####################################################

# Wild Apricot username with file uploading authorization
export APRICOT_PHOTO_USERNAME="someone@nova-labs.org"

# Wild Apricot password for the username
export APRICOT_PHOTO_PASSWORD="password"

# Base URL for uploading photos to Wild Apricot
export APRICOT_PHOTO_BASE_URL="https://portal.nova-labs.org"

# Directory for uploading photos to and retrieving from Wild Apricot
export APRICOT_PHOTO_DIRECTORY='/resources/Pictures'

