# Configuration for tests

#####################################################
# Directories for storing test data
#####################################################

# Each test module may have its own directory relative to the tests directory.
# Comment either out to skip response capture tests when not defined.
export TEST_MEETUP_API_DIR=meetup_responses
export TEST_APRICOT_API_DIR=apricot_responses

#####################################################
# Meetup API
#####################################################

# URL name for Meetup group
export MEETUP_GROUP_URL_NAME="NOVA-Makers"

#####################################################
# Wild Apricot API
#####################################################

# Wild Apricot token URL
export APRICOT_TOKEN_URL="https://oauth.wildapricot.org/auth/token"

# Wild Apricot API key
export APRICOT_API_KEY='zvbxrpl'

# Wild Apricot account ID
export APRICOT_ACCOUNT_ID='12345'

# A Wild Apricot event ID to retrieve
export APRICOT_EVENT_ID='6789'

